
a{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
}
i{
    margin-left: 13px;
    font-size: 35px;
    color: white;
    margin-bottom: 10px;
}
  image:hover{
    transform: scale(1.1);
  }
